<div class="header">
    <nav class="navbar navbar-expand-lg navbar-light"[class.sticky] = "sticky">
        <a class="navbar-brand" href="#">Company <span>Name</span></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="navigation_menu" aria-controls="navigation_menu" aria-expanded="false">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navigation_menu">
          <ul class="navbar-nav">
            <li class="nav-item active">
              <a class="nav-link" href="#">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Contact Us</a>
            </li>
          </ul>
        </div>
      </nav>
</div>

<div class="banner" style="width: 100%;">
    <app-banner></app-banner>
</div>
<div>
    <hr style="margin-top: 2rem;margin-bottom: 2rem;border: 0.5px solid teal;">
</div>
<div class="image_carosel">
    <app-hero></app-hero>
</div>

<div>
    <hr style="margin-top: 2rem;margin-bottom: 2rem;border: 0.5px solid teal;">
</div>

<div class="table_Data">
    <app-tabledata></app-tabledata>
</div>